<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716530752125-76pljo5h5cq0etu1bdmu7i6eufb9daus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716530752125-76pljo5h5cq0etu1bdmu7i6eufb9daus</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>716530752125-cgmtelqnkgh418v6aefut5o60g3m4rks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0x5vpGvOyJwF4EIrUd6G7y8Zyph-gW-g</string>
	<key>GCM_SENDER_ID</key>
	<string>716530752125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syedi.azanreminder</string>
	<key>PROJECT_ID</key>
	<string>exam-app-dfbb9</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-app-dfbb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716530752125:ios:6c70f1e924d924bdfc2f14</string>
</dict>
</plist>